/* ================================= */
/* Style guide */
/* ================================= */

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* ================================= */
/* basic setup*/
/* ================================= */
/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* adding the padding around the entire body */
  padding: 20px;
  background-color: rgba(238, 235, 235, 0.938);
}

/* border for testing */
.GB {
  /* border: 1px solid red; */
}

/* ================================= */
/* Resuable */
/* ================================= */
/* ----------animations--------------- */
/* adding animation for the moveinleft*/
@keyframes move_in_left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* adding animation for the moveinright*/
@keyframes move_in_right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translate(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ----------button---------------- */

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 1px;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn_white {
  background-color: #fff;
  color: #777;
  display: inline-block;
}

/* ================================= */
/* Header */
/* ================================= */
.header {
  /* parent for logo, text_box */
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.801),
      rgba(40, 180, 133, 0.801)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /* adding the clip style */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo_box {
  /* child of header  */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text_box {
  /* child of header */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* cenntres the text in the text_box including the button */
  text-align: center;
}
.heading_primary {
  color: #fff;
  text-transform: uppercase;
  /* for smooth animation of the headings */
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading_primary_main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* animation property */
  animation-name: move_in_left;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.heading_primary_sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* animation propperties */
  animation: move_in_right 1.5s ease-out;
  /* animation-name: move_in_right;
  animation-duration: 1.5s;
  animation-timing-function: ease-out; */
}
