/* ================================= */
/* Style guide */
/* ================================= */
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* ================================= */
/* variables*/
/* ================================= */
/* ================================= */
/* basic setup*/
/* ================================= */
/* global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* this will make it easy for us to calculate rem  */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* adding the padding around the entire body */
  padding: 2rem;
  background-color: #eeebebef;
  box-sizing: border-box; }

/* border for testing */
.GB {
  border: 1px solid red; }

/* ================================= */
/* Resuable */
/* ================================= */
/*  */
/*  */
/* ----------animations--------------- */
/* adding animation for the moveinleft*/
@keyframes move_in_left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* adding animation for the moveinright*/
@keyframes move_in_right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* animation for move_in_bottom */
@keyframes move_in_bottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* ----------button---------------- */
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.1rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777;
  display: inline-block; }

.btn--animated {
  animation: move_in_bottom 0.5s ease-out 0.75;
  animation-fill-mode: backwards; }

/* pseudo elements for the button */
/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */
/* ================================= */
/* Header */
/* ================================= */
.header {
  /* parent for logo, text_box */
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 2rem 2rem 0 0;
  /* adding the clip style */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo_box {
    /* child of header  */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text_box {
    /* child of header */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* cenntres the text in the text_box including the button */
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* for smooth animation of the headings */
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* animation property */
    animation-name: move_in_left;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    /* animation propperties */
    animation: move_in_right 1.5s ease-out;
    /* animation-name: move_in_right;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; */ }
