.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    display: inline-block;
  }

  &--animated {
    animation: move_in_bottom 0.5s ease-out 0.75;
    animation-fill-mode: backwards;
  }
}
